body{
    font-family: Calibri, sans-serif;
    font-weight: 300;
    margin: 0;
    height: 100vh;
}
.black{
    color: black;
}
.font-l{
    font-size: large;
}
.font-xl{
    font-size: x-large;
}

.font-25{
    font-size: 2.5em;
}

.fl-row{
    display: flex;
    flex-flow: row;
}

.fl-col{
    display: flex;
    flex-flow: column;
}

.fl-sb{
    justify-content: space-between;
    /*justify-content: flex-start;*/
    /*text-align: justify;*/
}

.mt-40{
    margin-top: 40px;
}
.mr-20{
    margin-right: 20px;
}
.ml-20{
    margin-left: 20px;
}

#card-form{
    margin: 10px;
}

.card-result{
    background-color: azure;
    width: 500px;
    height: 300px;
    margin: 10px;
    border-radius: 38px;
    border: solid black 1px;
}

#card-result__card-bank{
    width: 250px;
    height: 75px;
    margin: 20px;
    background-size: cover;
}

#card-result__card-number{
    width: 90%;
    height: 50px;
    margin: 10px 20px 0 20px;
}

#card-result__card-holder{
    max-width: 55%;
}

#card-result__card-date{
    margin-left: auto;
}

#card-result__card-type{
    width: 80px;
    height: 50px;
    background-size: cover;
}



#card-history{
    margin: 10px;
}

select, input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text].date {
    width: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#table{
    text-align: center;
    border: solid black 1px;
    width: 100%;
}
